doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    body
        if isAuth
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='#') FE
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                if isAuth
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href='#')
                                    | Home
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link(href='#') Link
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | Dropdown
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                        ul.navbar-nav.my-2.my-lg-0
                            li.nav-item
                                a.nav-link(href='/logout') Logout
        block content
